.pure-form select {
  border-radius: 0;
  margin: 0;
  height: 50px;

  /* remove the arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.pure-form input[type=text] {
  border-radius: 0;
  margin: 0;
  height: 50px;
}

.base {
  background-color: #e0e1e2;
}

.repeat-el.no-side-borders {
  border-right: 0;
  border-left: 0;
}

input.repeat-el.no-left-border {
  border-left: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.repeat-el.no-right-border {
  border-right: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.repeat-section {
  margin: 30px;
  margin-bottom: 40px;
}

.repeat-add-wrapper a {
  color: black;
  text-decoration: none;
}

.enabler {
  background-color: #e0e1e2;
  font-size: 15px;
  width: 15px;
}

.or-button {
  background-color: #519fffb0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1.7px;
  height: 50px;
  color: white;
}

.repeat-add-wrapper a.add-button {
  background-color: #519fff;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 4px;
  color: white;
}

.text-light-gray {
  color: #a8abad;
}

.cursor-pointer { cursor: pointer; }